<!DOCTYPE html>
<html>
<head>
    <title>RESULT MANAGEMENT SYSTEM</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
   
</head>
<body>
    
    <header>
        <div class="main">
            <ul>
                <li class="active" ><a href="index.html">Home</a></li>
                <li><a href="about us.html">About us</a></li>
                <li><a href="contact.html">Contact us</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="#">Report</a></li>
            </ul>
        </div>
        <div class="title">
            <h1><u>RESULT MANAGEMENT SYSTEM</u></h1>

        </div>

        <div class="button">
            <a href="#" class="btn">CHECK THE LATEST RESULT OF SSC1</a>
            <a href="#" class="btn">CHECK PREVIOUS</a>
        </div>
    </header>

</body> 
</html>